
body {
  background-image:url(ourservices2.jpg);
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
 
}

h1 {
  font-family: garamond;
  font-size: 45px;
  color:black;
  text-decoration: underline;
  margin:40px;
  text-align: center;
 
}

.grooming {
  margin-top:20px;
  background-color:#9F7F7F;
  font-family: bahnschrift;
  border-color: black;
  color: white;
  padding: 35px 35px;
  text-align: justify;
  margin-left:350px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
}

.vet {
  margin-top:50px;
  background-color:#9F7F7F;
  font-family: bahnschrift;
  border-color: black;
  color: white;
  padding: 35px 35px;
  text-align: justify;
  margin-left:350px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
}

.adopt {
  margin-top:-315px;
  background-color:#9F7F7F;
  font-family: bahnschrift;
  border-color: black;
  color: white;
  padding: 50px 78px;
  text-align: justify;
  margin-left:880px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
}

.give {
  margin-top:-130px;
  background-color:#9F7F7F;
  font-family: bahnschrift;
  border-color: black;
  color: white;
  padding: 47px 55px;
  text-align: justify;
  margin-left:880px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
}
